/hdd1/spark/local
/hdd2/spark/local
/hdd3/spark/local
/hdd4/spark/local
/hdd5/spark/local
/hdd6/spark/local
/hdd7/spark/local
/hdd8/spark/local
/hdd9/spark/local
/hdd10/spark/local
/hdd11/spark/local
